{{#each rentals as |rental|}}


   <div data-id="{{rental.id}}">
     <p>{{rental.title}}</p>
     <p>{{rental.name}}</p>
     <p>{{rental.city}}</p>
     <p>{{rental.description}}</p>
     <p>{{rental.phone}}</p>
   </div>
   <br>
     <!-- <h3>Password Hint</h3>
     <p>{{rental.password_hint}}</p> -->

     <!-- Button trigger modal -->
     <!-- <button type="button" class="btn btn-default" data-toggle="modal" data-target="#mod{{rental.id}}">
       Update!
     </button> -->


     <!-- Modal -->
     <!-- <div class="modal fade kapat" id="mod{{rental.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
       <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
             <h4 class="modal-title" id="myModalLabel">Update!</h4>
           </div>
           <div class="modal-body">
             <form class="submit-update" data-id="{{rental.id}}">
                 <input type="text" name="rental[web_name]" value="{{rental.web_name}}" class="clean-update">
                 <input type="text" name="rental[password_hint]" value="{{rental.password_hint}}" class="clean-update">
                 <input type="submit" name="submit">
             </form>
             <div class="warning-update-data">

             </div>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           </div>
         </div>
       </div>
     </div>


     <button type="button" name="button" class="btn btn-default remove" data-id="{{rental.id}}">Remove</button>
   </div> -->

{{/each}}
