{{#each rentals as |rental|}}
<div class="card card-inverse card-info mb-3 text-center" data-id="{{rental.id}}">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <span>Title:</span>
      <p>{{rental.title}}</p>
      <span>Name:</span>
      <p>{{rental.name}}</p>
      <span>City:</span>
      <p>{{rental.city}}</p>
      <span>Description:</span>
      <p>{{rental.description}}</p>
      <span>Phone:</span>
      <p>{{rental.phone}}</p>
      <button type="button" class="btn btn-default show-update" data-id="{{rental.id}}" name="button">Update</button>
      <button type="button" name="button" class="btn btn-default remove" data-id="{{rental.id}}">Remove</button>
      <button type="button" name="button" class="btn btn-default show-map" data-lon="{{rental.longitude}}" data-lat="{{rental.latitude}}">Show on the map</button>
    </blockquote>
  </div>
</div>
{{/each}}
