{{#each rentals as |rental|}}
     <div class="cards card-1" data-id="{{rental.id}}">
       <div class="room">

       </div>
     <p>{{rental.title}}</p>
     <p>{{rental.name}}</p>
     <p>{{rental.city}}</p>
     <p>{{rental.description}}</p>
     <p>{{rental.phone}}</p>

     <button type="button" class="btn btn-default show-reviews" data-id="{{rental.id}}" name="button">Show Reviews</button>
     <button type="button" class="btn btn-default create-review" data-id="{{rental.id}}" name="button">Write Review</button>
     </div>
{{/each}}
