{{#each rentals as |rental|}}


   <div data-id="{{rental.id}}">
     <p>{{rental.title}}</p>
     <p>{{rental.name}}</p>
     <p>{{rental.city}}</p>
     <p>{{rental.description}}</p>
     <p>{{rental.phone}}</p>

     <!-- <button type="button" class="btn btn-default show-rental" data-id="{{rental.id}}" name="button">Show</button> -->
     <button type="button" class="btn btn-default show-reviews" data-id="{{rental.id}}" name="button">Show Reviews</button>
     <button type="button" class="btn btn-default create-review" data-id="{{rental.id}}" name="button">Write Review</button>
   </div>
   <br>
{{/each}}
