<!-- {{#each reviews as |review|}}


   <div data-id="{{review.id}}">
     <p>{{review.comment}}</p>
     <p>{{review.rating}}</p> -->
     <!-- <p>{{review.rentals}}</p> -->
   <!-- </div>
   <br>
   <button type="button" class="btn btn-default update-myreview" data-id="{{review.id}}" name="button">Update review</button>
   <button type="button" class="btn btn-default delete-myreview" data-id="{{review.id}}" name="button">Delete review</button>
{{/each}} -->

{{#each reviews as |review|}}

<div data-id="{{review.id}}" class="card card-inverse card-success mb-3 text-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <p>{{review.comment}}</p>
      <!-- <p>{{review.rating}}</p> -->
      <fieldset class="ratings">
      <input type="radio" name="review[rating]" value="{{review.rating}}" checked /><label for="{{review.rating}}">{{review.rating}} stars</label>
      </fieldset>
      <button type="button" class="btn btn-default update-myreview" data-id="{{review.id}}" name="button">Update review</button>
      <button type="button" class="btn btn-default delete-myreview" data-id="{{review.id}}" name="button">Delete review</button>
    </blockquote>
  </div>
</div>
{{/each}}
