{{#each reviews as |review|}}


   <div data-id="{{review.id}}">
     <p>{{review.comment}}</p>
     <!-- <p>{{review.rating}}</p> -->

     <fieldset class="ratings">
     <input type="radio" name="review[rating]" value="{{review.rating}}" checked /><label for="{{review.rating}}">{{review.rating}} stars</label>
     </fieldset>

     <!-- <p>{{review.rentals}}</p> -->
   </div>
   <br>

{{/each}}
<!-- <button type="button" class="btn btn-default create-review" data-id="{{createId}}" name="button">Write review</button> -->
