<div>
  <form class="submit-update forms" data-id="{{rental.id}}">
    <input type="text" name="rental[title]" value="{{rental.title}}" class="clean-update inputs" required="required" maxlength="50">
    <input type="text" name="rental[name]" value="{{rental.name}}" class="clean-update inputs" required="required" maxlength="50">
    <input type="text" name="rental[city]" value="{{rental.city}}" class="clean-update inputs" required="required" maxlength="50">
    <input type="text" name="rental[description]" value="{{rental.description}}" class="clean-update inputs" required="required" maxlength="50">
    <input type="text" name="rental[phone]" value="{{rental.phone}}" class="clean-update inputs" required="required" maxlength="15">
    <input type="submit" name="submit">
  </form>

</div>
