<!-- <div>
  <form class="submit-update forms" data-id="{{rental.id}}">
    <input type="text" name="rental[title]" value="{{rental.title}}" class="clean-update inputs" required="required" maxlength="50">
    <input type="text" name="rental[name]" value="{{rental.name}}" class="clean-update inputs" required="required" maxlength="50">
    <input type="text" name="rental[city]" value="{{rental.city}}" class="clean-update inputs" required="required" maxlength="50">
    <input type="text" name="rental[description]" value="{{rental.description}}" class="clean-update inputs" required="required" maxlength="50">
    <input type="text" name="rental[phone]" value="{{rental.phone}}" class="clean-update inputs" required="required" maxlength="15">
    <input type="submit" name="submit">
  </form>

</div> -->


<form class="white-pink submit-update " data-id="{{rental.id}}">
    <h1>Create Rental<span>Please fill all the texts in the fields.</span></h1>
    <p>
    <label>
    <span>Title :</span>
    <input id="name" type="text" name="rental[title]" value="{{rental.title}}" class="clean-update" placeholder="Rental Title">
    </label>
    <label>
    <span>Name :</span>
    <input id="name" type="text" name="rental[name]" value="{{rental.name}}" class="clean-update" placeholder="Owners Name">
    </label>
    <label>
    <span>City :</span>
    <input id="name" type="text" name="rental[city]" value="{{rental.city}}" class="clean-update" placeholder="Name of the City">
    </label>
    <label>
    <span>Phone :</span>
    <input id="name" type="text" name="rental[phone]" value="{{rental.phone}}"  class="clean-update" placeholder="Phone Number">
    </label>
    <label>
    <span>Description :</span>
    <textarea id="message" name="rental[description]" class="clean-update">{{rental.description}}</textarea>
    </label>
    <label><span>&nbsp;</span><input type="submit" name="submit"  class="button" value="Update"></label>
  </p>
</form>
